.preTableContainer {
    background-color: #03100d;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 20px;
    max-height: 50vh;
    overflow-y: auto;
    margin: 30px;
}

.preTableFilter {
    background-color: green;
}