.preTableContainer {
    background-color: #727272;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 20px;
}

.preTableFilter {
    background-color: green;
    /* position: absolute;
    top: 0; */
}